header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav{
    display:flex;
    flex-direction: column;
    align-content: space-around;
    
    
}
aside {
    flex-grow: 3;
}